<!DOCTYPE html>
<html lang="en">
<head>



  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/skeleton.css">
  <link rel="stylesheet" href="/usuario.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/icono.ico">
  <!--Menú-->
<br>

</head>
<body>
  <a href="/listUsuarios"><img style="width: 5%;" src="/retroceder.png"></a>

<h1 style="font-size: 50px;"><b>Michael Eduardo Morán Naranjo</b></h1>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container"> <!--Se crea un contenedor donde va a estar ubicado el video-->
    <div class="row">  <!--Se crea la etiqueta "row" con la finiladidad que las cuadriculas este dentro de ella --> 
        <video width="1000" height="auto" controls>
          <source src="/Our Solar System [4K].mp4" type="video/mp4">
        </video>
          <a class="button button-primary" href="informacion">Quiero saber más</a>
      </div>
  </div>
    <form>
      <br>
    <div style=" position:relative;"  class="container">
      <div class="row">
        <div class="six columns"> 
          <label for="exampleEmailInput">Ingresa tu Correo</label> 
          <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
        </div>
        <div class="six columns">
          <label for="exampleRecipientInput">Motivo de contacto</label> 
          <select class="u-full-width" id="exampleRecipientInput"> 
            <option value="Option 1">Seleccionar</option>
            <option value="Option 2">Contactanos</option>
            <option value="Option 3">Quejas</option>
          </select>
        </div>
      </div>
      <label for="exampleMessage">Mensaje</label> <!-- Se muestra un mensaje por pantalla -->
      <textarea class="u-full-width" placeholder="Hola...." id="exampleMessage"></textarea>
      <label class="example-send-yourself-copy"> <input type="checkbox">
      <span class="label-body">Envíate una copia a ti mismo</span>
      <br>
      <button class="button button-primary" type="submit" value="Submit" href="index.html">Enivar</button>
      </div>
    </form>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
